<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Husky Metalwork -->
  <!-- <link name="metalwork">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="black"/>
      <geometry>
        <mesh filename="package://armlab_description/meshes/collision/sit17.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://armlab_description/meshes/collision/sit17.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="metalwork_joint" type="fixed">
    <parent link="base_link" />
    <child link="metalwork" />
    <origin xyz="0.0525 0 0.225" rpy="0 0 0"/>
  </joint> -->

  <joint name="fr3_joint" type="fixed">
    <parent link="base_link" />
    <child link="fr3_link0" />
    <origin xyz="0.38 0 0.23135" rpy="0 0 0"/>
  </joint>  

</robot>